@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
:root {
  --color-bgr-wrapper: rgba(172, 172, 172, .4);
  --color-bgr-primary: rgb(180, 180, 180);
  --color-bgr-second: rgba(200, 200, 200, 1);
  --color-card: rgba(128, 140, 250, 0.41);
  --color-card-hover: rgba(35, 37, 54, 0.61);
  --color-text: rgb(95, 95, 95);
  --color-dark: rgba(31, 32, 36, 0.8);
  --color-medium: rgba(31, 32, 36, 0.6);
  --color-light: rgba(31, 32, 36, 0.2);
  --color-btn: rgba(240, 207, 170, 0.9);
  --color-border: #5e2b27;
  --color-bordercv: rgb(0, 115, 177);
  --font-family: "Josefin Sans";
  --font-h1: "Roboto Mono";
  --font-h2: "Roboto Slab";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  line-height: 1;
  font-family: var(--font-family);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-bgr-wrapper);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 95.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container] {
  color: var(--color-text);
  padding-top: calc(15px + 35 * (100vw - 320px) / 2240);
  padding-bottom: calc(5px + 15 * (100vw - 320px) / 2240);
}
[class*=__container] h2 {
  font-size: calc(18px + 6 * (100vw - 320px) / 2240);
  text-align: center;
  font-family: var(--font-h2);
  font-weight: 800;
}
[class*=__container] h2 i {
  padding-left: 10px;
}

.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.header {
  background-image: url(../img/pexels-negativespace-169573.jpg);
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
  height: calc(250px + 350 * (100vw - 320px) / 2240);
  padding: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 1px 6px 5px;
          box-shadow: rgba(0, 0, 0, 0.55) 1px 6px 5px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  gap: 10px;
  height: 51px;
  padding: 36px 32px;
  gap: 10px;
  height: 51px;
  -webkit-backdrop-filter: blur(3px) saturate(120%);
          backdrop-filter: blur(3px) saturate(120%);
  background-color: rgba(255, 245, 238, 0.41);
  border-radius: 10px;
  border: 1px solid rgba(209, 213, 219, 0.5);
}
.header__title {
  cursor: pointer;
  font-size: calc(18px + 18 * (100vw - 320px) / 2240);
  font-weight: 600;
  letter-spacing: 2px;
  font-family: var(--font-h1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 25px;
  height: 49px;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 63px;
     -moz-column-gap: 63px;
          column-gap: 63px;
  -webkit-column-gap: calc(33px + 30 * (100vw - 320px) / 2240);
     -moz-column-gap: calc(33px + 30 * (100vw - 320px) / 2240);
          column-gap: calc(33px + 30 * (100vw - 320px) / 2240);
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
.header__nav #contact-link {
  display: none;
}
.header__btn {
  background-color: rgb(95, 95, 95);
  color: rgb(255, 245, 238);
  font-weight: 900;
  width: 172px;
  height: 39px;
  border-radius: 5px;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(30px + 10 * (100vw - 320px) / 2240);
  height: calc(20px + 8 * (100vw - 320px) / 2240);
}
.burger span {
  height: 2px;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  background-color: #462a0b;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #462a0b;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 975px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    height: calc(270px + 30 * (100vw - 320px) / 2240);
    width: 200px;
    top: 0;
    bottom: 0;
    left: center;
    right: 0px;
    z-index: 50;
    overflow-y: auto;
    overflow: hidden;
    padding: 50px 40px;
    -webkit-backdrop-filter: blur(3px) saturate(120%);
            backdrop-filter: blur(3px) saturate(120%);
    background-color: rgba(255, 245, 238, 0.9);
    border-radius: 10px;
    border: 1px solid rgb(209, 213, 219);
    -webkit-animation: burgerAnimation 1s;
            animation: burgerAnimation 1s;
    row-gap: 30px;
  }
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
  }
  .header__nav #contact-btn {
    display: none;
  }
  .header__nav #contact-link {
    display: block;
  }
}
@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-popUp {
  /* ------- подложка модального окна ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}
.contact-popUp__container {
  max-width: 640px;
  margin: 70px auto;
  background-color: rgb(95, 95, 95);
  color: rgb(255, 245, 238);
  border: 2px solid var(--color-btn);
}
.contact-popUp__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 40px;
  border-radius: 1%;
  max-height: 80vh;
}
.contact-popUp__body h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-popUp__close {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 30px;
  color: rgb(255, 245, 238);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.contact-popUp__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  margin-bottom: 30px;
  font-size: 18px;
}
.contact-popUp__call i {
  padding-right: 10px;
}
.contact-popUp__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  font-size: 18px;
}

.footer {
  background-color: #5f5f5f;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px -4px 4px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px -4px 4px;
}
.footer__container {
  margin-top: calc(15px + 35 * (100vw - 320px) / 2240);
  padding-top: calc(25px + 25 * (100vw - 320px) / 2240);
  padding-bottom: calc(25px + 25 * (100vw - 320px) / 2240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgb(255, 245, 238);
}
@media (max-width: 525px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__container p {
  -ms-flex-item-align: center;
      align-self: center;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__contact-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer__contact-call i {
  padding-right: 10px;
}
@media (max-width: 525px) {
  .footer__contact-call {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__contact-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 525px) {
  .footer__contact-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  background-color: rgba(127, 144, 162, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.filter-btn.active {
  background-color: rgba(74, 122, 155, 0.8);
}

.my-projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.my-projects__title {
  font-size: 28px;
  padding: 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.my-projects__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
  gap: 30px;
  padding: 30px 0px;
}
.my-projects__items h3 {
  font-size: 18px;
  font-weight: 700;
}
.my-projects__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 26px;
  background: linear-gradient(145deg, #e4e4e4, #c0c0c0);
  -webkit-box-shadow: 5px 5px 10px #a4a4a4, -5px -5px 10px #868686;
          box-shadow: 5px 5px 10px #a4a4a4, -5px -5px 10px #868686;
  color: rgba(240, 207, 170, 0.9);
  border-radius: 20px;
}
.my-projects__item:hover {
  -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transition: transform 0.5s ease, box-shadow 0.5s ease, -webkit-transform 0.5s ease, -webkit-box-shadow 0.5s ease;
  -webkit-box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
          box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
}
.my-projects__item-title {
  color: #8b6464;
  font-weight: bolder;
}
.my-projects__image {
  max-width: 250px;
  -webkit-filter: grayscale(100%) contrast(150%);
          filter: grayscale(100%) contrast(150%);
}
.my-projects__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-projects__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.my-projects__description ul.li {
  color: var(--color-text);
  font-weight: 300;
}
.my-projects__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  color: #cd6958;
  font-weight: bolder;
}
.my-projects__technologies p {
  color: var(--color-text);
  font-weight: 700;
}
.my-projects__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}
.my-projects__link {
  font-weight: 650;
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}
.my-projects__link:hover {
  color: var(--color-hover);
}
.my-projects__view-more {
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none;
}
.my-projects__view-more:hover {
  font-size: 18px;
  font-weight: bold;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  width: calc(280px + 920 * (100vw - 320px) / 2240);
  padding-top: calc(30px + 120 * (100vw - 320px) / 2240);
  row-gap: 20px;
}
.about__container p {
  font-size: calc(16px + 6 * (100vw - 320px) / 2240);
  line-height: 2;
  text-indent: 3%;
  text-align: justify;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 30px;
}
.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: calc(30px + 15 * (100vw - 320px) / 2240);
  padding-bottom: calc(15px + 15 * (100vw - 320px) / 2240);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills__item i {
  font-size: calc(24px + 30 * (100vw - 320px) / 2240);
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  gap: 20px;
}
.projects__title {
  font-weight: bolder;
}
.projects__link {
  font-weight: 800;
}

.project__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.project__card {
  width: 300px;
  height: 300px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.project__card.flipped {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.project__card .back {
  width: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.front {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-filter: saturate(280%);
          filter: saturate(280%);
  border: 1px solid rgba(134, 134, 134, 0.2);
  border-radius: 26px;
  background: linear-gradient(145deg, #e4e4e4, #c0c0c0);
  -webkit-box-shadow: 5px 5px 10px #a4a4a4, -5px -5px 10px #868686;
          box-shadow: 5px 5px 10px #a4a4a4, -5px -5px 10px #868686;
  -webkit-animation: name duration timing-function delay iteration-count direction fill-mode;
          animation: name duration timing-function delay iteration-count direction fill-mode;
}
.front:hover {
  -webkit-animation: font 0.7s linear;
          animation: font 0.7s linear;
}
@-webkit-keyframes font {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes font {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.front__content {
  padding: 20px;
}
.front__img {
  -webkit-filter: grayscale(20%) contrast(200%);
          filter: grayscale(20%) contrast(200%);
}
.front__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.front__title {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  color: #8b6464;
}
.front__description {
  text-wrap: pretty;
  text-wrap-mode: wrap;
  padding-top: 20px;
  line-height: 1.5;
}

.back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 36px;
  background: #d5d5d5;
  -webkit-box-shadow: inset 5px 5px 10px #a4a4a4, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #a4a4a4, inset -5px -5px 10px #ffffff;
}
.back__content {
  padding: 20px;
}
.back__title {
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  color: #8b6464;
  padding-top: 10px;
}
.back__description {
  text-align: justify;
  text-wrap: pretty;
  text-wrap-mode: wrap;
  line-height: 1.2;
}
.back__technologies {
  color: #cd6958;
  line-height: 1.5;
  text-align: center;
}
.back__link {
  line-height: 1.7;
  text-align: center;
  color: #8050ea;
  font-weight: 500;
}
.back__link:hover {
  font-weight: bold;
}
.back__linkCode {
  line-height: 1.7;
  text-align: center;
  color: #8050ea;
  font-weight: 500;
}
.back__linkCode:hover {
  font-weight: bold;
}

.modal-projects {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-projects__content {
  -webkit-backdrop-filter: blur(8px) saturate(280%);
          backdrop-filter: blur(8px) saturate(280%);
  background-color: rgba(197, 195, 195, 0.51);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-size: calc(16px + 8 * (100vw - 320px) / 2240);
}
.modal-projects__close {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 24px;
  cursor: pointer;
}
.modal-projects__title {
  margin: 0 0 10px;
  font-weight: bold;
  color: #ba4834;
  font-size: calc(20px + 6 * (100vw - 320px) / 2240);
}
.modal-projects__image {
  width: calc(280px + 420 * (100vw - 320px) / 2240);
  -webkit-filter: grayscale(20%) contrast(200%);
          filter: grayscale(20%) contrast(200%);
}
.modal-projects__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-projects__description {
  padding-top: 20px;
  text-align: justify;
  line-height: 1.4;
  letter-spacing: 2px;
}
.modal-projects__technologies {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  font-weight: 700;
  color: #7d4132;
}
.modal-projects__technologies li {
  margin: 5px 0;
}
.modal-projects__link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #6babef;
}
.modal-projects__link:hover {
  color: #8050ea;
  font-weight: bold;
}
.modal-projects__code-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #6babef;
}
.modal-projects__code-link:hover {
  color: #8050ea;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */