@use "sass:math";

@import "null/fonts";
@import "null/root";
@import "null/null";
@import "null/variable";
@import "null/mixins";

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bgr-wrapper);
}
.content {
  flex: 1 1 auto;
}

$responsiveType: 2;

@if ($responsiveType==2) {
  // Чуйна
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue(
          "padding-left",
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          "padding-right",
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  // Брейк-поїнтами
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}

[class*="__container"] {
  // background-color: var(--color-bgr-container);
  color: var(--color-text);
  @include adaptiv-value("padding-top", 50, 15, 0);
  @include adaptiv-value("padding-bottom", 20, 5, 0);

  h2 {
    @include adaptiv-value("font-size", 24, 18, 0);
    text-align: center;
    font-family: var(--font-h2);
    font-weight: 800;

    i {
      padding-left: 10px;
    }

    // @include adaptiv-value("padding-bottom", 30, 15, 0);
  }
}
.open {
  display: flex !important;
}

@import "blocks/header";
@import "blocks/contact-popUp";
@import "blocks/footer";

@import "blocks/my-projects";

.about {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    @include adaptiv-value("width", 1200, 280, 0);
    @include adaptiv-value("padding-top", 150, 30, 0);

    row-gap: 20px;
    p {
      @include adaptiv-value("font-size", 22, 16, 0);
      line-height: 2;
      text-indent: 3%;
      text-align: justify;
    }
  }
}

.skills {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 30px;
  }

  &__row {
    display: flex;
    @include adaptiv-value("padding-top", 45, 30, 0);
    @include adaptiv-value("padding-bottom", 30, 15, 0);
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    // width: 100px; // если будет больше items
    i {
      @include adaptiv-value("font-size", 54, 24, 0);
    }
  }
}

.projects {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    

    h3,
    a {
      font-size: 20px;

      i {
        font-size: 15px;
        padding-left: 10px;
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    @include adaptiv-value("width", 1000, 280, 0);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: justify;
    padding: 20px;
    background-color: var(--color-card);
    color: rgba(240, 207, 170, 0.9);
    border-radius: 10px;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.31);
    transition: box-shadow 0.3s ease-in-out;

    h3 {
      font-weight: 600;
      text-align: center;
      font-size: 18px;
    }

   

    &:hover {
      background-color: var( --color-card-hover);
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.51);
  }
  }

  &__img {
    width: 250px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.btn {
}

.modal-projects {
  display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;

  &__content {
    background-color: var(--color-card-hover);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    @include adaptiv-value("font-size", 24, 16, 0)
  }

  &__close {
  
    align-self: end;
    font-size: 24px;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 10px;
    font-weight: bold;
  }

  &__image {
    @include adaptiv-value("width", 700, 280, 0);
    // max-width: 280px;
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__description {
    padding-top: 20px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 2px;
  }

  &__technologies {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color:#c88b7c;

    li {
      margin: 5px 0;
  }
  }

  &__link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #6babef;

    &:hover {
      color: #8050ea;
      font-weight: bold;
    }
  }

  &__code-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #6babef;

    &:hover {
      color: #8050ea;
      font-weight: bold;
    }
  }
}







