@use "sass:math";

@import "null/fonts";
@import "null/root";
@import "null/null";
@import "null/variable";
@import "null/mixins";

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bgr-wrapper);
}
.content {
  flex: 1 1 auto;
}

$responsiveType: 2;

@if ($responsiveType==2) {
  // Чуйна
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue(
          "padding-left",
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          "padding-right",
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  // Брейк-поїнтами
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}

[class*="__container"] {
  // background-color: var(--color-bgr-container);
  color: var(--color-text);
  @include adaptiv-value("padding-top", 50, 15, 0);
  @include adaptiv-value("padding-bottom", 20, 5, 0);

  h2 {
    @include adaptiv-value("font-size", 24, 18, 0);
    text-align: center;
    font-family: var(--font-h2);
    font-weight: 800;

    i {
      padding-left: 10px;
    }

    // @include adaptiv-value("padding-bottom", 30, 15, 0);
  }
}
.open {
  display: flex !important;
}

@import "blocks/header";
@import "blocks/contact-popUp";
@import "blocks/footer";

@import "blocks/my-projects";

.about {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    @include adaptiv-value("width", 1200, 280, 0);
    @include adaptiv-value("padding-top", 150, 30, 0);

    row-gap: 20px;
    p {
      @include adaptiv-value("font-size", 22, 16, 0);
      line-height: 2;
      text-indent: 3%;
      text-align: justify;
    }
  }
}

.skills {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 30px;
  }

  &__row {
    display: flex;
    @include adaptiv-value("padding-top", 45, 30, 0);
    @include adaptiv-value("padding-bottom", 30, 15, 0);
    justify-content: space-around;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    // width: 100px; // если будет больше items
    i {
      @include adaptiv-value("font-size", 54, 24, 0);
    }
  }
}

.projects {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    perspective: 3000px;
    transform-style: preserve-3d;
    gap: 20px;
  }

  &__title {
    font-weight: bolder;
  }

  &__link {
    font-weight: 800;
  }
}
.fa-solid {
}
.fa-arrow-right {
}
.fa-sm {
}
.project {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__card {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    &.flipped {
      transform: rotateY(-180deg);
    }

    .back {
      width: 100%;
      // background-color: #6babef;
      transform: rotateY(-180deg);
    }
  }
}
.front {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  filter: saturate(280%);
  border: 1px solid rgba(134, 134, 134, 0.2);
  border-radius: 26px;
  background: linear-gradient(145deg, #e4e4e4, #c0c0c0);
  box-shadow: 5px 5px 10px #a4a4a4, -5px -5px 10px #868686;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;

  &:hover {
    animation: font 0.7s linear;
  
    @keyframes font {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.05);
      }
      40% {
        transform: scale(1.1);
      }
      60% {
        transform: scale(1.05);
      }
      80% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &__content {
    padding: 20px;
  }

  &__img {
    filter: grayscale(20%) contrast(200%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    color: #8b6464;
  }

  &__description {
    text-wrap: pretty;
    text-wrap-mode: wrap;
    padding-top: 20px;
    line-height: 1.5;
  }
}
.back {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 36px;
  background: #d5d5d5;
  box-shadow: inset 5px 5px 10px #a4a4a4, inset -5px -5px 10px #ffffff;

  &__content {
    padding: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    color: #8b6464;
    padding-top: 10px;
  }

  &__description {
    text-align: justify;
    text-wrap: pretty;
    text-wrap-mode: wrap;
    line-height: 1.2;
  }

  &__technologies {
    color: #cd6958;
    line-height: 1.5;
    text-align: center;
  }

  &__link {
    line-height: 1.7;
    text-align: center;
    color: #8050ea;
    font-weight: 500;

    &:hover{
      font-weight: bold;
    }
  }

  &__linkCode {
    line-height: 1.7;
    text-align: center;
    color: #8050ea;
    font-weight: 500;

    &:hover{
      font-weight: bold;
    }
  }
}

.modal-projects {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
  justify-content: center;
  align-items: center;

  &__content {
    backdrop-filter: blur(8px) saturate(280%);
    background-color: rgba(197, 195, 195, 0.51);
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    @include adaptiv-value("font-size", 24, 16, 0);
  }

  &__close {
    // background-color: inherit;
    align-self: end;
    font-size: 24px;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 10px;
    font-weight: bold;
    color: #ba4834;
    @include adaptiv-value("font-size", 26, 20, 0);
  }

  &__image {
    @include adaptiv-value("width", 700, 280, 0);
    filter: grayscale(20%) contrast(200%);
    // max-width: 280px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__description {
    padding-top: 20px;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 2px;
  }

  &__technologies {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-weight: 700;
    color: #7d4132;

    li {
      margin: 5px 0;
    }
  }

  &__link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #6babef;

    &:hover {
      color: #8050ea;
      font-weight: bold;
    }
  }

  &__code-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #6babef;

    &:hover {
      color: #8050ea;
      font-weight: bold;
    }
  }
}
