.footer {
  background-color: #5f5f5f;
  box-shadow: rgba(0, 0, 0, 0.7) 0px -4px 4px;
  
  &__container {
    @include adaptiv-value("margin-top", 50, 15, 0);
    display: flex;
    justify-content: space-around;
    color: rgba(255, 245, 238, 1);
    

    @media (max-width: 525px) {
      flex-direction: column-reverse;
      gap: 20px;
      align-items: center;
    }

    p{
      align-self: center;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contact-call {
    display: flex;
    flex-direction: column;
    gap: 20px;
    i {
      padding-right: 10px;
    }
  }

  &__contact-social {
    display: flex;
    gap: 20px;
    // justify-content: center;
  }
}
// .fa-solid {
// }
// .fa-phone {
// }
// .fa-lg {
// }
// .fa-envelope {
// }
// .fa-brands {
// }
// .fa-linkedin {
// }
// .fa-xl {
// }
// .fa-telegram {
// }
// .fa-viber {
// }
