.header {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 36px 32px;
    gap: 10px;
    @include adaptiv-value("height", 571, 171, 0);
    border-bottom: 1px solid var(--color-btn);

    background-image: url(../img/developer-8829735_1920.jpg);
    background-size: cover;
    color: rgb(41, 40, 41);
  }

  &__menu {
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(-6px) saturate(360%);
    background-color: rgb(240, 207, 170, 0.75);
    border-radius: 7px;
    height: 51px;
    // box-shadow: 4px 4px 2px rgba(73, 190, 222, 0.7);
  }

  &__title {
    cursor: pointer;
    @include adaptiv-value("font-size", 36, 18, 0);
    // font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--font-);
    align-self: center;
    font-family: "Josefin Sans";
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 25px;
    height: 49px;

    ul {
      display: flex;
      column-gap: 63px;
      @include adaptiv-value("column-gap", 63, 33, 0);
      justify-items: end;
      align-items: center;
      font-weight: 700;
    }
    #contact-link {
      display: none;
    }
  }

  &__btn {
    background-color: rgba(41, 40, 41, 0.8);
    color: rgb(240, 207, 170);
    font-weight: 900;
    width: 172px;
    height: 39px;
    border-radius: 5px;
  }
}
.btn-dark {
}


.burger {
  // display: flex;
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  width: 40px;
  height: 28px;

  span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #462a0b;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #462a0b;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  //add active class for animation burger icon
  // &.active span in CSS will be without space (.burger.active)
  // .active span in CSS will be with space (.burger. active)
  &.active span {
    transform: scale(0);
  }
  //add active class for animation burger lines
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (max-width: 900px) {
  .burger {
    display: flex;
  }

  .header__nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 400px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    overflow: hidden;
    padding: 50px 40px;
    background-color: var(--color-bgr-primary);
    animation: burgerAnimation 1s;
    row-gap: 30px;

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      color: #462a0b;
      font-size: 20px;
    }

    #contact-btn {
      display: none;
    }

    #contact-link {
      display: block;
    }
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
