:root {
  --color-bgr-wrapper: rgba(172, 172, 172, .4);
  --color-bgr-primary: rgb(180, 180, 180);
  --color-bgr-second: rgba(200, 200, 200, 1);
  --color-bgr-card: rgba(255, 245, 238, 1);

  --color-text: rgb(95, 95, 95);

  --color-dark: rgba(31, 32, 36, 0.8);
  --color-medium: rgba(31, 32, 36, 0.6);
  --color-light: rgba(31, 32, 36, 0.2);

  --color-btn: rgba(240, 207, 170, 0.9);
  --color-border: #5e2b27;
  --color-bordercv: rgb(0, 115, 177);

  --font-family: "Josefin Sans";
  --font-h1: "Roboto Mono";
  --font-h2: "Roboto Slab";
 
}
